#bdd{
    background-color: #E8E8E8;
}
hr{
    border: 1px solid #F3DE8A;
}
li{
    list-style-type: none;
}
ul{
    list-style-type: none;
    font-family: 'Noticia Text', serif;
}
h3{
    font-family: 'DM Serif Text', serif;
    font-size: 1.8em;
}
h1{
    font-family: 'DM Serif Text', serif;
}
.navbar{
    background-color: #39393A;
}
.source-card{
    list-style: none;
}
.general{
    background-color: #63B0CD;
    color: #FFFFFF;
}
.title{
    background-color: #FFFFFF;
}
