body{
    background-color: #1d1d1c;
}
#bdd{
    background-color: #E8E8E8;
}
hr{
    border: 1px solid #a1d84e;
}
li{
    list-style-type: none;
}
ul{
    list-style-type: none;
    font-family: 'Noticia Text', serif;
}
h3{
    font-family: 'DM Serif Text', serif;
    font-size: 2.1em;
}
h1{
    font-family: 'DM Serif Text', serif;
}
.navbar{
    background-color: #1d1d1c;
}
.source-card{
    list-style: none;
}

.title{
    background-color: #FFFFFF;
}
#sources{
    color:#39393A
}