{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
      <button class="back-btn">
        <a href="/"> << back</a>
      </button>

      <div class="brand">
        <h2>Articles</h2>
      </div>

      <span class="line"></span>
      <span class="line"></span>

      <div class="news-wrapper">
          <div class="row">
              <ul>{{ macro.displayArticllesList(articles) }}</ul>
          </div>
      </div>

      <div class="footer">
        <div class="brand">
          <h6>copyright 2022</h6>
          <h1 style="color: wheat">NewsNow</h1>
        </div>
      </div>
    </div>
{% endblock %}
