<!-- Displaying source list macro  -->
{% macro displaySourcesList(source_list) %}
    {% for source in source_list %}
        <div class="source-card text-light">
            <li class="">
                <a style="color: #fff;" href={{source.sourceUrl}}>{{ source.name|truncate(25)}}</a>
            </li>
        </div>

    {% endfor %}
{% endmacro %}

<!-- Displaying articles list macro -->
{% macro displayArticllesList(article_list) %}
    {% for article in article_list %}
        <div class="d-flex">
            <div class="content col-lg-2 mx-auto justify-content-center" style="width: 340px; border: 1px solid #39393A; margin-left: 5%; margin-top: 1%; margin-bottom: 3%; margin-right: 3%;">
                <img class="img-thumbnail" src="{{article.urlToImage}}" alt="image">
                <h3>{{article.title|truncate(50)}}</h3>
                <h5>{{article.author}}</h5>
                <p>{{article.description}}</p>
                <p>{{article.content}}</p>
                <a href="{{article.url}}" style="font-weight: 500;" >More>> </a>
                <p>{{article.publishedAt}}</p>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card"> -->

    {% endfor %}
{% endmacro %}