<!-- Displaying source list macro  -->
{% macro displaySourcesList(source_list) %}

    {% for source in source_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card">
            <li class="text-center">
                <a href="{{source.url}}">
                    {{ source.name|truncate(25)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %}

<!-- Displaying articles list macro -->
{% macro displayArticllesList(article_list) %}

    {% for article in article_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <div class="content-wrapper">
                <h3>{{article.title|truncate(5)}}</h3>
                <h5>{{article.author}}</h5>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{article.urlToImage}}) no-repeat center center"></div>
                <p>{{article.description}}</p>
                <p>{{article.content}}</p>
                <a href="{{article.url}}">click to load more</a>
                <p>{{article.publishedAt}}</p>
              </div>
            <!-- <img src="{{ article.urlToImage }}" alt="{{ article.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/detail/{{article.title}}">
                    {{ movie.title|truncate(5)}}</a>
            </li> -->
        </div>

    {% endfor %}

{% endmacro %}