<!-- Displaying source list macro  -->
{% macro displaySourcesList(source_list) %}
    {% for source in source_list %}
        <div class="source-card">
            <li class="">
                <a href={{source.sourceUrl}}>{{ source.name|truncate(25)}}</a>
            </li>
        </div>

    {% endfor %}
{% endmacro %}

<!-- Displaying articles list macro -->
{% macro displayArticllesList(article_list) %}
    {% for article in article_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 articles">
            <div class="content-wrapper article">
                <h3>{{article.title|truncate(100)}}</h3>
                <h5>{{article.author}}</h5>
                <div class="posterPath" style="background: url({{article.urlToImage}}) no-repeat center center"></div>
                <p>{{article.description}}</p>
                <p>{{article.content}}</p>
                <a href="{{article.url}}">click to load more</a>
                <p>{{article.publishedAt}}</p>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card"> -->

    {% endfor %}
{% endmacro %}