{% block styles%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<nav class="navbar navbar-light" style="display:flex; background-color: #1d1d1c;">
    <div class="container-fluid" style="justify-content: space-evenly;">
      <a class="navbar-brand" style="color: #a1d84e;" href="#">NewsNow</a>
      <a class="navbar-brand" style="color: #a1d84e;" href="#General">General</a>
      <a class="navbar-brand" style="color: #a1d84e;" href="#Business">Business</a>
      <a class="navbar-brand" style="color: #a1d84e;" href="#Health">Health</a>
      <a class="navbar-brand" style="color: #a1d84e;" href="#Technology">Technology</a>
    </div>
  </nav>
